<footer>
    <div class="container">
        <div class="row justify-content-center contact-media">
            <ul class="list-inline text-center">
                <li class="list-inline-item">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>

        <div id="footerCopyRightBlock" class="row justify-content-center ">
            <p>
                Created With <i class="fa fa-heart-o" aria-hidden="true"></i> by our team
                <br>
                Copyright &copy; 2019 Website-Name
            </p>
        </div>
    </div>
</footer>