<option value="" selected disabled hidden> -- select option --</option>
<optgroup label="AGRICULTURE & NATURAL RESOURCES CONSERVATION">
<option value="AG">Agriculture, General</option>
<option value="ARGOP">Agribusiness Operations</option>
<option value="ARGBM">Agricultural Business & Management</option>
<option value="ARGEC">Agricultural Economics</option>
<option value="ARGM">Agricultural Mechanization</option>
<option value="ARGPR">Agricultural Production</option>
<option value="ACS">Agronomy & Crop Science</option>
<option value="ANS">Animal Sciences</option>
<option value="FST">Food Sciences & Technology</option>
<option value="HORTOM">Horticulture Operations & Management</option>
<option value="HORTS">Horticulture Science</option>
<option value="NRCG">Natural Resources Conservation, General</option>
<option value="ENVS">Environmental Science</option>
<option value="FRS">Forestry</option>
<option value="NRM">Natural Resources Management</option>
<option value="WWM">Wildlife & Wildlands Management</option>
</optgroup>
<optgroup label="ARCHITECTURE">
<option value="ARCH">Architecture, General</option>
<option value="AED">Architectural Environmental Design</option>
<option value="CURP">City/Urban/Regional Planning</option>
<option value="IARCH">Interior Architecture</option>
<option value="LARCH">Landscape Architecture</option>
</optgroup>
<optgroup label="AREA, ETHNIC, & MULTIDISCIPLINARY STUDIES">
<option value="ASG">Area Studies, General (e.g., African, Middle Eastern)</option>
<option value="AAS">Asian Area Studies</option>
<option value="EAS">European Area Studies</option>
<option value="LAASC">Latin American Area Studies</option>
<option value="NAAS">North American Area Studies</option>
<option value="EMSG">Ethnic & Minority Studies, General</option>
<option value="AMS">African American Studies</option>
<option value="AINAS">American Indian/Native American Studies</option>
<option value="LCS">Latino/Chicano Studies</option>
<option value="WS">Women’s Studies</option>
<option value="LAGS">Liberal Arts & General Studies</option>
<option value="LSC">Library Science</option>
<option value="MINS">Multi/Interdisciplinary Studies</option>
</optgroup>
<optgroup label="ARTS: VISUAL & PERFORMING">
<option value="ARTG">Art, General </option>
<option value="AHCC">Art History, Criticism & Conservation </option>
<option value="WFSA">Fine/Studio Arts </option>
<option value="CF">Cinema/Film </option>
<option value="CFVP">Cinematography/Film/Video Production </option>
<option value="DNC">Dance</option>
<option value="DVCG">Design & Visual Communications, General</option>
<option value="FAD">Fashion/Apparel Design</option>
<option value="GD">Graphic Design</option>
<option value="ID">Industrial Design</option>
<option value="INTD">Interior Design</option>
<option value="MUG">Music, General</option>
<option value="MUP">Music, Performance</option>
<option value="MTC">Music, Theory & Composition</option>
<option value="PHG">Photography</option>
<option value="TAD">Theatre Arts/Drama</option>
</optgroup>
<optgroup label="BUSINESS">
<option value="ACTG">Accounting</option>
<option value="ACTGT">Accounting Technician</option>
<option value="BAMG">Business Administration & Management, General</option>
<option value="HMM">Hotel/Motel Management</option>
<option value=HRDT">Human Resources Development/Training</option>
<option value="HRM">Human Resources Management</option>
<option value="IBM">International Business Management</option>
<option value="LIR">Labor/Industrial Relations</option>
<option value="LMM">Logistics & Materials Management</option>
<option value="MMR">Marketing Management & Research</option>
<option value="OSM">Office Supervision & Management</option>
<option value="OMS">Operations Management & Supervision</option>
<option value="ORGB">Organizational Behaviour</option>
<option value="PPCM">Purchasing/Procurement/Contracts Management</option>
<option value="RFSM">Restaurant/Food Services Management</option>
<option value="SBMO">Small Business Management/Operations</option>
<option value="TTMG">Travel/Tourism Management</option>
<option value="BMQMG">Business/Management Quantitative Methods, General</option>
<option value="ACTS">Actuarial Science</option>
<option value="BME">Business/Managerial Economics</option>
<option value="FNCG">Finance, General</option>
<option value="BFSS">Banking & Financial Support Services</option>
<option value="FPS">Financial Planning & Services</option>
<option value="IRM">Insurance & Risk Management</option>
<option value="INVS">Investments & Securities</option>
<option value="MIS">Management Information Systems</option>
<option value="REE">Real Estate</option>
<option value="SMMG">Sales, Merchandising, & Marketing, General</option>
<option value="FM">Fashion Merchandising</option>
<option value="TTM">Tourism & Travel Marketing</option>
<option value="SSOA">Secretarial Studies & Office Administration</option>
</optgroup>
<optgroup label="COMMUNICATIONS">
<option value="CMMG">Communications, General</option>
<option value="ADV">Advertising</option>
<option value="DCM">Digital Communications/Media</option>
<option value="JB">Journalism, Broadcast</option>
<option value="JP">Journalism, Print</option>
<option value="MCUMM">Mass Communications</option>
<option value="PROC">Public Relations & Organizational Communication</option>
<option value="RTB">Radio & Television Broadcasting</option>
<option value="CMMTG">Communications Technology, General</option>
<option value="GPEO">Graphic & Printing Equipment Operation</option>
<option value="MASE">Multimedia/Animation/Special Effects</option>
<option value="RTBT">Radio & Television Broadcasting Technology</option>
</optgroup>
<optgroup label="COMMUNITY, FAMILY, & PERSONAL SERVICES">
<option value="FCSG">Family & Consumer Sciences, General</option>
<option value="ADAG">Adult Development & Aging/Gerontology</option>
<option value="CCSM">Child Care Services Management</option>
<option value="CHID">Child Development</option>
<option value="CFE">Consumer & Family Economics</option>
<option value="FN">Food & Nutrition</option>
<option value="TA">Textile & Apparel</option>
<option value="PRLG">Parks, Recreation, & Leisure, General</option>
<option value="ESPK">Exercise Science/Physiology/Kinesiology</option>
<option value="HPEF">Health & Physical Education/Fitness</option>
<option value="PRLFM">Parks/Rec/Leisure Facilities Management</option>
<option value="SFAM">Sport & Fitness Administration/Management</option>
<option value="PESG">Personal Services, General</option>
<option value="COSH">Cosmetology/Hairstyling</option>
<option value="CACT">Culinary Arts/Chef Training</option>
<option value="FSMS">Funeral Services & Mortuary Science</option>
<option value="PRSG">Protective Services, General</option>
<option value="CORR">Corrections</option>
<option value="CRJ">Criminal Justice</option>
<option value="FPST">Fire Protection & Safety Technology</option>
<option value="LENF">Law Enforcement</option>
<option value="MTECH">Military Technologies</option>
<option value="PASG">Public Administration & Services, General</option>
<option value="COA">Community Organization & Advocacy</option>
<option value="PCADM">Public Administration</option>
<option value="PAPPA">Public Affairs & Public Policy Analysis</option>
<option value="SCW">Social Work</option>
</optgroup>
<optgroup label="COMPUTER SCIENCE & MATHEMATICS">
<option value="CISG">Computer & Information Sciences, General</option>
<option value="CNT">Computer Networking/Telecommunications</option>
<option value="CSP">Computer Science & Programming</option>
<option value="CSMA">Computer Software & Media Applications</option>
<option value="CSA">Computer System Administration</option>
<option value="DMT">Data Management Technology</option>
<option value="ISC">Information Science</option>
<option value="WD">Webpage Design</option>
<option value="MG">Mathematics, General</option>
<option value="AP">Applied Mathematics</option>
<option value="STAT">Statistics</option>
</optgroup>
<optgroup label="EDUCATION">
<option value="CSS">Counselling & Student Services</option>
<option value="EA">Educational Administration</option>
<option value="SPE">Special Education</option>
<option value="TEG">Teacher Education, General</option>
<option value="CIN">Curriculum & Instruction</option>
E<option value="ECE">Early Childhood Education</option>
<option value="ELE">Elementary Education</option>
<option value="JHSE">Junior High/Middle School Education</option>
<option value="POSE">Postsecondary Education</option>
<option value="SECE">Secondary Education</option>
<option value="TAAE">Teacher Assisting/Aide Education</option>
<option value="TESS">Teacher Education, Subject-Specific</option>
<option value="ARGE">Agricultural Education</option>
<option value="ARTE">Art Education</option>
<option value="BE">Business Education</option>
<option value="CTE">Career & Technical Education</option>
<option value="ESLE">English-as-a-Second-Language Education</option>
<option value="ELAE">English/Language Arts Education</option>
<option value="FLE">Foreign Languages Education</option>
<option value="HE">Health Education</option>
<option value="MATHE">Mathematics Education</option>
<option value="MUSE">Music Education</option>
<option value="PEC">Physical Education & Coaching</option>
<option value="SCE">Science Education</option>
<option value="SSSE">Social Studies/Sciences Education</option>
</optgroup>
<optgroup label="ENGINEERING">
<option value="ENG">Engineering (Pre-Engineering), General</option>
<option value="AERENG">Aerospace/Aeronautical Engineering</option>
<option value="ARGBI">Agricultural/Bioengineering</option>
<option value="ARCHE">Architectural Engineering</option>
<option value="BIOE">Biomedical Engineering</option>
<option value="CHEE">Chemical Engineering</option>
<option value="CIE">Civil Engineering</option>
<option value="CMPE">Computer Engineering</option>
<option value="CNSEM">Construction Engineering/Management</option>
<option value="EECE">Electrical, Electronics & Communications Engineering</option>
<option value="EHE">Environmental Health Engineering</option>
<option value="INDE">Industrial Engineering</option>
<option value="MECHE">Mechanical Engineering</option>
<option value="NUCE">Nuclear Engineering</option>
</optgroup>
<optgroup label="ENGINEERING TECHNOLOGY & DRAFTING">
<option value="DTG">Drafting/CAD Technology, General</option>
<option value="ADT">Architectural Drafting/CAD Technology</option>
<option value="MDT">Mechanical Drafting/CAD Technology</option>
<option value="ETG">Engineering Technology, General</option>
<option value="AAET">Aeronautical/Aerospace Engineering Technologies</option>
<option value="ARCHET">Architectural Engineering Technology</option>
<option value="ATET">Automotive Engineering Technology</option>
<option value="CVET">Civil Engineering Technology</option>
<option value="CMPET">Computer Engineering Technology</option>
<option value="CPT">Construction/Building Technology</option>
<option value="EEET">Electrical, Electronics Engineering Technologies</option>
<option value="EBET">Electromechanical/Biomedical Engineering Technologies</option>
<option value="ENVCT">Environmental Control Technologies</option>
<option value="INDPT">Industrial Production Technologies</option>
<option value="MECHET">Mechanical Engineering Technology</option>
<option value="QCST">Quality Control & Safety Technologies</option>
<option value="SURVT">Surveying Technology</option>
</optgroup>
<optgroup label="ENGLISH & FOREIGN LANGUAGES">
<option value="ELLG">English Language & Literature, General</option>
<option value="AEL">American/English Literature</option>
<option value="CRW">Creative Writing</option>
<option value="PBCS">Public Speaking</option>
<option value="FLLG">Foreign Languages/Literatures, General</option>
<option value="ASLL">Asian Languages & Literatures</option>
<option value="CALL">Classical/Ancient Languages & Literatures</option>
<option value="COMPL">Comparative Literature</option>
<option value="FRLL">French Language & Literature</option>
<option value="GELL">German Language & Literature</option>
<option value="LING">Linguistics</option>
<option value="MELL">Middle Eastern Languages & Literatures</option>
<option value="SPLL">Spanish Language & Literature</option>
</optgroup>
<optgroup label="HEALTH ADMINISTRATION & ASSISTING">
<option value="HSAG">Health Services Administration, General</option>
<option value="HFA">Hospital/Facilities Administration</option>
<option value="MOS">Medical Office/Secretarial</option>
<option value="MR">Medical Records</option>
<option value="MCAG">Medical/Clinical Assisting, General</option>
<option value="DAS">Dental Assisting</option>
<option value="MAS">Medical Assisting</option>
<option value="OTAS">Occupational Therapy Assisting</option>
<option value="PTAS">Physical Therapy Assisting</option>
<option value="VAST">Veterinarian Assisting/Technology</option>
</optgroup>
<optgroup label="HEALTH SCIENCES & TECHNOLOGIES">
<option value="CHP">Chiropractic (Pre-Chiropractic) </option>
<option value="DTH">Dental Hygiene</option>
<option value="PRED">Dentistry (Pre-Dentistry) </option>
<option value="EMT">Emergency Medical Technology</option>
<option value="HRPSG">Health-Related Professions & Services, General</option>
<option value="ATHT">Athletic Training</option>
<option value="CDSSP">Communication Disorder Services (e.g., Speech Pathology) </option>
<option value="PBH">Public Health</option>
<option value="HMTG">Health/Medical Technology, General</option>
<option value="MLT">Medical Laboratory Technology</option>
<option value="MRT">Medical Radiologic Technology</option>
<option value="NMT">Nuclear Medicine Technology</option>
<option value="RTT">Respiratory Therapy Technology</option>
<option value="SRGT">Surgical Technology</option>
<option value="PREMD">Medicine (Pre-Medicine) </option>
<option value="NPV">Nursing, Practical/Vocational (LPN) </option>
<option value="NR">Nursing, Registered (BS/RN) </option>
<option value="PREOP">Optometry (Pre-Optometry) </option>
<option value="OSTM">Osteopathic Medicine</option>
<option value="PREPH">Pharmacy (Pre-Pharmacy) </option>
<option value="PHYSA">Physician Assisting</option>
<option value="THRG">Therapy & Rehabilitation, General</option>
<option value="ADAC">Alcohol/Drug Abuse Counselling</option>
<option value="MTHR">Massage Therapy</option>
<option value="MHCL">Mental Health Counselling</option>
<option value="OTHR">Occupational Therapy</option>
<option value="PTPPT">Physical Therapy (Pre-Physical Therapy) </option>
<option value="PMHT">Psychiatric/Mental Health Technician</option>
<option value="RTH">Rehabilitation Therapy</option>
<option value="VRC">Vocational Rehabilitation Counselling</option>
<option value="VM">Veterinary Medicine (Pre-Veterinarian) </option>
</optgroup>
<optgroup label="HEALTH SCIENCES & TECHNOLOGIES">
<option value="PHIL">Philosophy</option>
<option value="RLG">Religion</option>
<option value="THEO">Theology, General</option>
<option value="BBS">Bible/Biblical Studies</option>
<option value="DVM">Divinity/Ministry</option>
<option value="RLGE">Religious Education</option>
</optgroup>
<optgroup label="REPAIR, PRODUCTION, & CONSTRUCTION">
<option value="AASG">Aviation & Airway Science, General</option>
<option value="APN">Aircraft Piloting & Navigation</option>
<option value="AMO">Aviation Management & Operations</option>
<option value="CTCPE">Construction Trades (e.g., carpentry, plumbing, electrical)</option>
<option value="MRG">Mechanics & Repairers, General</option>
<option value="AMECHT">Aircraft Mechanics/Technology</option>
<option value="AUTRT">Autobody Repair/Technology</option>
<option value="ATMECHT">Automotive Mechanics/Technology</option>
<option value="AVT">Avionics Technology</option>
<option value="DIMT">Diesel Mechanics/Technology</option>
<option value="EEEIR">Electrical/Electronics Equip Installation & Repair</option>
<option value="HARIR">Heating/Air Cond/Refrig Install/Repair</option>
<option value="PPTG">Precision Production Trades, General</option>
<option value="MTTECH">Machine Tool Technology</option>
<option value="WTECH">Welding Technology</option>
<option value="TMM">Transportation & Materials Moving (e.g., air, ground, & marine)</option>
</optgroup>
<optgroup label="SCIENCES: BIOLOGICAL & PHYSICAL">
<option value="BIO">Biology, General</option>
<option value="BIOCPH">Biochemistry & Biophysics</option>
<option value="CCBIO">Cell/Cellular Biology</option>
<option value="ECO">Ecology</option>
<option value="GNT">Genetics</option>
<option value="MAB">Marine/Aquatic Biology</option>
<option value="MICRI">Microbiology & Immunology</option>
<option value="ZL">Zoology</option>
<option value="PHSG">Physical Sciences, General</option>
<option value="AST">Astronomy</option>
<option value="ASTSM">Atmospheric Sciences & Meteorology</option>
<option value="CHEM">Chemistry</option>
<option value="GEOES">Geological & Earth Sciences</option>
<option value="PHYS">Physics</option>
</optgroup>
<optgroup label="SOCIAL SCIENCES & LAW">
<option value="LSG">Legal Studies, General</option>
<option value="COR">Court Reporting</option>
<option value="LAW">Law (Pre-Law) </option>
<option value="LAAS">Legal Administrative Assisting/Secretarial</option>
<option value="PLA">Paralegal/Legal Assistant</option>
<option value="SSG">Social Sciences, General</option>
<option value="ANTHR">Anthropology</option>
<option value="CRIM">Criminology</option>
<option value="ECON">Economics</option>
<option value="GEOG">Geography</option>
<option value="HIST">History</option>
<option value="IRA">International Relations & Affairs</option>
<option value="PSG">Political Science & Government</option>
<option value="PC">Psychology, Clinical & Counselling</option>
<option value="PSYG">Psychology, General</option>
<option value="SOC">Sociology</option>
<option value="USUA">Urban Studies/Urban Affairs</option>
</optgroup>
